.add-produto {
    padding: 16px;
    background: #eee;
}

.add-produto_formulario {
    width: 328px;
    margin: auto;
}

.add-produto_formulario-titulo {
    font-weight: 700;
    font-size: 22px;
}

.add-produto_formulario-paragrafo-img {
    background-color: red;
    margin: 16px 0px;
}

.botao-add-produto {
    background: #2A7AE4;
    border: none;
    color: #ffffff;
    margin: 16px 0px;
    padding: 12px 16px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.invisivel {
    visibility: hidden;
}