.galeria-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria_linha-topo-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 328px;
    margin: 16px auto;
    height: 90px;
}

/* figure {
    background-color: red;
    border-top: 3px solid blue;
} */

.figure-admin {
    position: relative;
}

.galeria_linha-figuras-icons {
    position: absolute;
    top: 10px;
    right: 8px;
    display: flex;
    justify-content: space-between;
    width: 50px;
}